/* BETA CAST CSS */
.yesBox {
	border: 3px solid green;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: green;
	}

.group-create-link {
	font-weight: bold;
	color: #0000EE;
	margin-right: 5px;	
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF;
	color: #000;
	}
	
a:link, a:visited, a:active { color: #03C; }

a.dg { color: #333; }
a.noul { text-decoration: none; }
	
code {
	font-family: Courier, "Courier New", monospace;
	font-size: 12px;
	}
	
dt {
	font-weight: bold;
	padding-bottom: 5px
	}
	
dd {
	padding-bottom: 15px;
	}
	
emphasis {
	font-style: italic;
	}

form {
	margin: 0px;
	padding: 0px;
	}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #000;
	margin-top: 6px;
	margin-bottom: 3px;
	padding: 0px;
	}

h1 {
	margin-top: 0px;
	font-size: 18px;
	}
	
h2 { font-size: 16px; }
	
h2.blog {
	margin-top: 18px;
	background-color: #BCE;
	padding-top: 3px;
	padding-bottom: 3px;
	}

h3 { font-size: 14px; }

h4 { font-size: 12px; }

h5 { font-size: 10px; }

h6 { font-size: 10px; }
	
hr {
	border: none 0; 
	margin-top: 12px;
	border-top: 1px dashed #999; /* the border */
	height: 1px; /* whatever the total width of the border-top and border-bottom equal */
	}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	}



/* Common Elements */

.standardText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	}
.normalText { font-size: 12px; }
.smallText { font-size: 11px; }
.xsmallText { font-size: 10px; }
.xxsmallText { font-size: 9px; }
.largeText { font-size: 14px; }
.xlargeText { font-size: 16px; }
.xxlargeText { font-size: 18px; }

.grayText { color: #666; }
.dgText {color: #333; }

.standardLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

.label {
	font-weight: bold;
	color: #333333;
	}
	
.smallLabel {
	font-weight: bold;
	font-size: 11px;
	color: #333;
	}
.xsmallLabel {
	font-weight: bold;
	font-size: 10px;
	color: #333;
	}
.largeLabel {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	}
	
.eLink {
	text-decoration: none;
	border-bottom: 1px dotted #03C;
	}
	
.required { color: #FF0000; }

.alignMid { vertical-align: middle; }

.confirmBox {
	border: 3px solid #666;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #006;
	}

.errorBox {
	border: 3px solid #C00;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #C00;
	}

.codeBox {
	background-color: #EEE;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 15px;
	}

.headerBox {
	padding: 3px 5px 3px 5px;
	border: 1px solid #CCC;
	background-color: #CCC; 
	}

.headerRCBox { }
.headerRCBox .rch { display: block; }
.headerRCBox .rch *{
	display: block;
	height: 1px;
	overflow: hidden;
	background: #CCC;
	}
.headerRCBox .rch1 {
	border-right: 1px solid #E9E9E9;
	padding-right: 1px;
	margin-right: 3px;
	border-left: 1px solid #E9E9E9;
	padding-left: 1px;
	margin-left: 3px;
	background: #D9D9D9; /* rch5 */
	}
.headerRCBox .rch2 {
	border-right: 1px solid #FAFAFA;
	border-left: 1px solid #FAFAFA;
	padding: 0px 1px;
	background: #D6D6D6; /* rch3 */
	margin: 0px 1px;
	}
.headerRCBox .rch3 {
	border-right: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	margin: 0px 1px;
	}
.headerRCBox .rch4 {
	border-right: 1px solid #E9E9E9;
	border-left: 1px solid #E9E9E9;
	}
.headerRCBox .rch5 {
	border-right: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	}
.headerRCBox .content {
	background: #CCC;
	padding: 0px 6px 2px 6px;
	}
	
.footerBox {
	padding: 0px 5px;
	border: 1px solid #CCC;
	background-color: #CCC; 
	margin-bottom: 15px;
	margin-top: 0px;
	}

.contentBox {
	padding: 6px; 
	border: 1px solid #CCC;
	}

.highlightBox {
	font-size: 16px; 
	font-weight: bold; 
	text-align: center;
	padding: 9px; 
	background-color: #FFC;
	border: 1px solid #FC3;
	}


/* Video Display Elements */

.vimg {
	width: 130px;
	height: 100px;
	border: 1px solid #CCC;
	}
	
.vimgSm {
	width: 90px;
	height: 70px;
	border: 1px solid #CCC;
	}
	
.vListInfo1Still {
	margin-bottom: 6px;
	}

.vListInfo1Still .img { margin-bottom: 4px; }

.title { 
	font-weight: bold;
	font-size: 12px; 
	}

.runtime {
	font-size: 11px;
	color: #000;
	font-weight: bold;
	}
	
.desc {
	margin: 3px 0px;
	font-size: 12px;
	}
	
.facets {
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 11px;
	line-height: 13px;
	}

.rating {
	margin-top: 3px;
	font-size: 11px;
	height: 14px; 
	}
	
img.rating {
	border: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	}

.vListInfo3Stills {
	margin-left: 350px;
	margin-bottom: 6px;
	}
	
.videoListDetails {
	font-size: 11px;
	line-height: 14px;
	vertical-align: text-bottom;
	margin-bottom: 3px;
	}

.vDirectorBox {
	width: 100px;
	}

.vBriefEntry {
	width: 130px;
	padding: 3px;
	margin-bottom: 6px;
	}
	
.vBriefEntry .img { margin-bottom: 4px; }

.vMiniEntry {
	width: 90px;
	margin-bottom: 6px;
	margin-right: 15px;
	}

.vMiniEntry img {
	margin-bottom: 4px;
	}

.vDetailEntry {
	clear: both;
	padding: 9px 6px;
	border-bottom: 1px dashed #999;
	}

.image {
	margin-right: 12px;
	}

.vDetailEntry .info1Wrapper {
	margin-left: 145px;
	margin-bottom: 12px;
	}

.vDetailEntry .tagTable {
	border-spacing: 0px;
	padding: 0px;
	margin-bottom: 3px;
	}

.vDetailEntry .tagTable td {
	font-size: 11px;
	vertical-align: top;
	}

.vMicroEntry {
	width: 90px;
	margin-bottom: 6px;
	margin-right: 15px;
	}
.vMicroEntry img {
	margin-bottom: 4px;
	}






/* Masthead Elements */

#baseDiv {
	position: relative;
	width: 875px;
	margin-left: auto;
	margin-right: auto;
	}

#logoTagDiv {
	float: left;
	}
#logoDiv {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	}
#taglineDiv {
	position: absolute;
	top: 30px;
	left: 130px;
	}

#utilDiv {
	margin-left: 136px;
	padding-bottom: 6px;
	/* border-bottom: 1px dotted #CCCCCC; */
	text-align: right;
	}
.utilDelim {
	padding-left: 3px;
	padding-right: 3px;
	}
#iconMail {
	vertical-align: text-bottom; padding: 1px 0px 1px 0px;
	}
#searchDiv {
	margin-top: 6px;
	margin-bottom: 4px;
	text-align: right;
	}
#searchField {
	width: 280px;
	color: #FF3333;
	font-size: 12px;
	}

#gNavDiv {
	clear: both;
	margin-top: 8px;
	}
#gNavDiv .tab {
	float: left;
	width: 140px;
	margin-right: 6px;
	}
#gNavDiv .ltab {
	float: left;
	width: 142px;
	margin-right: 6px;
	}
#gNavDiv .rtab {
	float: right;
	width: 142px;
	}

#gNavDiv .rc {
	display:block;
}
#gNavDiv .rc *{
	display: block;
	height: 1px;
	overflow: hidden;
	background: #BCE;
}
#gNavDiv .rc1 {
	border-right: 1px solid #E3EAF8;
	padding-right: 1px;
	margin-right: 3px;
	border-left: 1px solid #E3EAF8;
	padding-left: 1px;
	margin-left: 3px;
	background: #CEDAF2; /* rc5 */
}
#gNavDiv .rc2 {
	border-right: 1px solid #F8FAFD;
	border-left: 1px solid #F8FAFD;
	padding: 0px 1px;
	background: #CAD7F1; /* rc3 */
	margin: 0px 1px;
}
#gNavDiv .rc3 {
	border-right: 1px solid #CAD7F1;
	border-left: 1px solid #CAD7F1;
	margin: 0px 1px;
}
#gNavDiv .rc4 {
	border-right: 1px solid #E3EAF8;
	border-left: 1px solid #E3EAF8;
}
#gNavDiv .rc5 {
	border-right: 1px solid #CEDAF2;
	border-left: 1px solid #CEDAF2;
}
#gNavDiv .tabContent {
	height: 19px;
	padding: 0px 5px;
	background: #BCE;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
}

#gNavDiv .rcs {
	display:block;
}
#gNavDiv .rcs *{
	display: block;
	height: 1px;
	overflow: hidden;
	background: #DDD;
}
#gNavDiv .rcs1 {
	border-right: 1px solid #E9E9E9;
	padding-right: 1px;
	margin-right: 3px;
	border-left: 1px solid #E9E9E9;
	padding-left: 1px;
	margin-left: 3px;
	background: #D9D9D9; /* rc5 */
}
#gNavDiv .rcs2 {
	border-right: 1px solid #FAFAFA;
	border-left: 1px solid #FAFAFA;
	padding: 0px 1px;
	background: #D6D6D6; /* rc3 */
	margin: 0px 1px;
}
#gNavDiv .rcs3 {
	border-right: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	margin: 0px 1px;
}
#gNavDiv .rcs4 {
	border-right: 1px solid #E9E9E9;
	border-left: 1px solid #E9E9E9;
}
#gNavDiv .rcs5 {
	border-right: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
}
#gNavDiv .selected {
	background: #DDD;
	border-bottom: 1px solid #DDD;
	}
	
#gSubNavDiv {
	clear: both;
	background: #DDD;
	text-align: center;
	padding: 8px 0px;
	margin-bottom: 12px;
	}

#footerDiv {
	clear: both;
	border-top: 1px solid #999;
	margin-top: 24px;
	padding-top: 12px;
	padding-bottom: 24px;
	font-size: 11px;
	text-align: center;
	}




/* Subnav (local) Elements */
#subnavContent {
	width: 670px;
	}

#subnavSidebar {
	border: 1px solid #CCC;
	float: right; 
	width: 185px; 
	background-color: #EEE;
	padding: 0px;
	margin-left: 15px;
	}
	
.navItem {
	list-style: none;
	margin: 0px;
	padding: 6px; 
	border-bottom: 1px dashed #999;
	font-weight: bold;
	}
	
.navItemHighlight {
	list-style: none;
	padding: 6px; 
	background-color: #BCE;
	border-bottom: 1px dashed #999;
	font-weight: bold;
	}

.sidebarLinks {
	margin-top: 3px;
	margin-bottom: 3px;
	}




/* htmlForm Elements */
.dataEntryTable {
  	width: 650px;
	}

.formLabel  {
	font-weight: bold;
	text-align: right;
	width: 200px;
	}

.formField {
	width: 450px;
	} 

.dataEntryTableSmall {
  	width: 400px;
	}

.formLabelSmall  {
	font-weight: bold;
	text-align: right;
	width: 125px;
	}

.formFieldSmall {
	width: 275px;
	} 

.formHighlight {
	background-color: #BCE;
	background-position: left top;
	border: 1px dashed #006;
	padding: 9px;
	margin-bottom: 5px;
	}





/* Popups (divs and windows) */
.popupDiv {
	background: #FFF;
	padding: 6px;
	border: 3px solid #000;
	}
.popupDiv .closeDiv {
	float: right;
	font-size: 11px;
	}
.popupDiv .okTable {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	text-align: right;
	}

	



/* Homepage Elements */
#standardContent {
	width: 670px; 
	float: left;
	}
	
#standardSidebar {
	width: 185px; 
	float: right;
	}
	
#browseContent {
	width: 735px; 
	float: left;
	}
	
#browseSidebar {
	width: 125px; 
	float: right;
	clear: right;
	}

.headerTitle {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	}

.headerTitleLite {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	}

.headerTitleRight {
	float: right; 
	padding: 1px 5px 0px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	}

.headerTitleCenter {
	padding: 1px 5px 0px 0px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	}

.contentListBox {
	border: 1px solid #CCC;
	margin-top: 0px;
	}

.contentListPremium {
	background-color: #FFC;
	}

.contentListStandard {
	background-color: #EEE;
	}

	
.tagCloud {
	margin-left: 5px; 
	margin-bottom: 5px; 
	line-height: 18px;
	}
	
.tagCloudBig {
	margin-left: 5px; 
	margin-bottom: 5px; 
	line-height: 28px;
	}

.pagerCurrent {
	color: #333; 
	background-color: #FFF; 
	padding: 1px 4px; 
	border: 1px solid #999; 
	margin-right: 5px;
	}
	
.pagerNotCurrent {
	color: #333; 
	background-color: #CCC; 
	padding: 1px 4px; 
	border: 1px solid #999; 
	margin-right: 5px;
       cursor: pointer;
       cursor: hand;
	}	




/* Groups Elements */

.groupSideNavDiv {
	margin-bottom: 2px;
}




/* Browse Elements */
.browsePagination {
	background: #CCC;
	padding: 6px 0px;
	font-size: 13px;
	color: #333;
	font-weight: bold;
	text-align: right;
	}
.pageBox {
	background-color: #CCC;
	padding: 1px 4px 1px 4px;
	border: 1px solid #999;
	margin-right: 5px;
       cursor: pointer;
       cursor: hand;
	}
.pageBoxSelected {
	background-color: #FFFFFF;
	padding: 1px 4px 1px 4px;
	border: 1px solid #999;
	margin-right: 5px;
	}
	



/* Signin Signup Elements */

#siSignupDiv {
	float: left;
	width: 420px;
	margin-bottom: 24px;
	}
	
#suSignupDiv {
	float: left;
	background-color: #EEE;
	margin-bottom: 24px;
	}

#suInOrderToDiv {
	background-color: #FFFFCC;
	border: 1px solid #CCCC66;
	margin: 6px 25%;
	padding: 6px;
	font-weight: bold;
	}

#suSigninDiv {
	width: 400px;
	float: right;
	}




/* Categories Elements */

.verticalDivider {
	float: left;
	padding-left: 18px; 
}


#catBox {
	height: 680px;
	width: 730px;
	padding-top: 10px;
	background-color:#EEEEEE;
}

#catHeader {
	width: 730px;
}

div.modulePresentation {
   background-color:#FFFFFF;
}

#categeoryContainer {
	width: 223px;
	float: left;
	padding-right: 6px;
	background-color: #EEEEEE;
}

#categoryHeaders {
    background-color: #EEEEEE;
	width: 223px;
	border-top: 1px solid #EEEEEE;
	height: 70px;
	float: left;
	border-bottom: 12px solid #EEEEEE;
	padding-right: 2px;
}

#categoryContent {
	 width: 223px;
	 background-color: #EEEEEE;
	 padding-left: 6px;
}

.categoryIcons {
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 6px;
	float: left;
}

div.displayBox {
   border: 1px solid #CCCCCC;
   padding: 8px;
   float: left;
}

#SmallDisplayVideos {
	width: 455px;
	float: left;
	border-right: 1px dashed #CCCCCC;
	height: 180px;
}

.smallVideoList {
	margin-right: 0px; 
	float: left; 
	list-style: none;
	padding-left: 5px;
}

.largeVideoList {
	margin-right: 5px; 
	float: left; 
	list-style: none;
}

#focusContentHalf {
	background-color: #EEEEEE;
	width: 280px;
	height: 180px;
	border-collapse: collapse;
	border-left: none;
}

#focusContentFull {
	background-color: #EEEEEE;
	width: 750px;
	height: 105px;	
}

#categoriesHeader {
	width: 770px;
}

#categoriesBox {
	width: 770px;
	padding-top: 14px;
	background-color: #EEEEEE;
}

.vimgCat {
	width: 130px;
	height: 100px;
	border: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 2px;
}

.bottomLinks {
	padding-bottom: 7px;
	padding-left: 3px;
}

.catTable {
	width: 770px;
}



/* Mini Explanation Popup Code */
#set_of_links {
	position: relative;
	padding: 0px;
	border: none;
	background: #FFF;
	margin-bottom: 20px;
	}

#set_of_links a {
	display: inline;
	color: #03C;
	}

#set_of_links a:hover {
	background: #FFC;
	text-decoration: none;
	color: #000;
	}

#set_of_links a span {
	display:none
	}

#set_of_links a:hover span {
	display: inline;
	position: absolute;
	left: 0;
	background: #FFC;
	padding: 5px 15px 5px 0px;
	}

