

#adLeaderboard {
	width: 875px;
	margin: 12px 0px;
	text-align: center;
	display: none;
	}
#adFullBanner {
	margin: 12px 0px;
	display: none;
	}
#adMediumRectangle {
	margin-top: 12px;
	margin-bottom: 12px;
	display: none;
	}
#adSquareRectangle {
	width: 250px;
	height: 250px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	display: none;
	}
#adSkyscraper {
	float: left;
	width: 120px;
	background: #333;
	display: none;
	}



#watchTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	}
#watchTable td {
	vertical-align: top;
	}


#interactDiv { width: 450px; margin-right: 15px; }
#aboutExploreDiv { width: 300px; margin-right: 15px; }
#sideAdDiv { width: 90px; }



#playerDiv { }
#actionsAndStatsDiv {
	height: 110px;
	position: relative;
	margin-top: 12px;
	margin-bottom: 12px;
	}

#ratingDivWrapper {
	float: left;
	width: 28%;
	}
#actionsDiv {
	float: left;
	width: 38%;
	}
#statsDiv {
	float: left;
	}
	
#ratingMessage { margin-bottom: 4px; }
#ratingCount { margin-top: 2px; }
#ratingLogin {
	width: 90px;
	margin-top: 12px;
	font-size: 11px;
	}
.ratingNote {
	width: 90px;
	margin: 4px 0px;
	font-size: 11px;
	}

.actionRow { margin-bottom: 6px; }
.statRow { margin-bottom: 6px; }
#linksToLabel { float: left; }
#linksToValue { padding-top: 4px; margin-left: 55px; }

#honorsDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	}
#linkstoDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	}
#addFavsDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	overflow: auto;
	}
#addPlaylistsDiv {
	margin-top: 8px;
	border-top: 1px dashed #666;
	padding-top: 8px;
	}
#addGroupsDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	height: 250px;
	overflow: auto;
	}
#inappropriateVidDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	}
#blogVidDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	}
#embedVidDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 430px;
	}
#embedTextarea {
	width: 400px;
	height: 100px;
	}
.gpEntry { margin: 0px 0px 6px 8px; }


#commentsDiv { clear: both; margin-top: 20px; }
#commentsDiv table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}
.standaloneComments {
	width: 550px;
}
.commentHeading { margin: 24px 0px 0px 0px; }
.commentEntry {
	clear: both;
	margin: 6px 0px 16px 0px;
	}
.commentEntryReply {
	margin: 6px 0px 16px 40px;
	}
.commentHead {
	background-color: #EEE;
	padding: 4px;
	}
.commentSpam {
	background-color: #FFE;
	padding: 4px;
	}

.commentBody {
	margin-top: 4px;
	margin-left: 4px;
	}
.commentAction {
	margin-top: 0px;
	text-align: right;
	}
#commentPostDiv { margin-top: 12px; }
#commentTextarea {
	width: 400px;
	height: 80px;
	}
#commentSubmit { margin-top: 4px; }
#commentTopAction {
	text-align: right;
	margin: -8px 0px 10px 0px;
	}


#vResponseParent {
	background-color: #FFC;
	border: 1px solid #FC3;
	padding: 6px;
	margin-top: 6px;
	font-weight: bold;
}
#vResponseDiv { margin-bottom: 10px;  }
#vResponseHeading {
	background: #EEE;
	padding: 4px;
	margin: 10px 0px 6px 0px;
	}



#aboutVidDiv { margin-bottom: 12px; }
#userStatsDiv { margin-left: 18px; }
#aboutDirectorTable {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 3px 0px 0px 0px;
	}
#aboutDirectorTable td { vertical-align: bottom; }
#aboutDirectorTable .img { padding-right: 6px; }
#uploaderInfo { }
#userInfoDiv { }
#userInfoTable { }
#directorLogo { margin-top: 4px; }
.dvnvp { margin: 1px 0px; }
#mobileNote { margin-top: 2px; }
#vidDescDiv { margin: 8px 0px; }
#vidDescBegin { display: inline; }
#vidDescRemain { display: none; }
#vidDescMore { display: inline; }
#vidDescLess { display: none; }
#vidTagsDiv { width: 140px; margin-left: 245px; }
#vidTagsLabel { float: left; }
#vidTagsValue { margin-left: 38px; }
#vidTagsBegin { display: inline; }
#vidTagsRemain { display: none; }
#vidTagsMore { display: inline; }
#vidTagsLess { display: none; }
#vidFacetsDiv { margin-top: 8px;  }
#vidFacetsTable {
	border-collapse: separate;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	}
#vidFacetsTable td { vertical-align: middle; }
#vidFacetsTable td.tags { padding-bottom: 5px; font-size: 11px; }
.vidURLField {
	width: 230px; 
	font-size: 10px;
	}
#subscribeDiv { float: right; text-align: center; width: 100px; }
#subscribeCount { margin-top: 2px; }
/*
#subscribeDiv {
	margin-top: 5px;
	padding-top: 6px;
	border-top: 1px dashed #CCC;
	}
*/




#exploreDiv { }
#exploreBody { height: 480px; }
	
.exploreContent {
	height: 410px;
	/* width: 251px; */
	overflow: auto;
	}

#exploreDiv a.selectedNavLink {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	}
#exploreDiv a.unSelectedNavLink {
	color: #03C;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px dotted #03C;
	}
	
#exSubNavTable {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	margin: 4px 0px 8px 0px;
	}

#exContentWrapper { background: #EEE; }
#exRelatedDiv { background: #EEE; }
#exUserDiv { background: #EEE; }
#exPlaylistDiv { background: #EEE; }

#plList {
	margin-top: 4px;
	line-height: 18px;
	}

.showingTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	padding: 3px;
	margin: 0px;
	background-color: #CCC;
	}

.vWatchEntry { margin: 6px 0px 2px 0px; }
.vWatchEntry table {
	border-collapse: separate;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px 4px;
	}
.vWatchEntry td { vertical-align: top; }
.vWatchEntry .img { padding-right: 6px; }
.vWatchEntry .title { font-size: 12px; }
.vWatchEntry .facets {
	margin-top: 2px;
	font-size: 11px;
	}
.vNowPlaying { 
	background: #FFC;
	padding: 2px 0px;
	}


#dVidsDiv {
	/* background: #DEF; */
	/* border: 1px solid #CCC; */
	margin-bottom: 24px;
	}
#dVidsDiv .heading {
	padding: 3px 0px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
	color: #999;
	}
#dVidsDiv .vimgMd {
	width: 90px;
	height: 70px;
	border-width: 0px;
	/* border: 1px solid #CCC; */
	}
.dvidEntry {
	width: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	}
.dvidEntry .img { margin-bottom: 2px; }
.dvidEntry .title { font-size: 11px; }
.dvidEntry .facets { font-size: 11px; }
